{% extends 'base.html' %}

{% block content %}
<h2>Podgląd planów zwiedzania</h2>
<table>
    <thead>
        <tr>
            <th>Plan</th><th>Etap</th><th>Atrakcja</th><th>Data</th><th>Wizyta</th><th>Dojazd</th>
        </tr>
    </thead>
    <tbody>
        {% for r in podglad %}
        <tr>
            <td>{{ r.plan_nazwa }}</td>
            <td>{{ r.etap_nr }}. {{ r.etap_nazwa }}</td>
            <td>{{ r.atr_nr }}. {{ r.atrakcja_nazwa }}</td>
            <td>{{ r.planowana_data }}</td>
            <td>{{ r.czas_wizyty }} min</td>
            <td>{{ r.czas_dojazdu }} min</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
